node_modules
npm-debug.log*
*.log
.git
.gitignore
.env
.eslintrc.js
.prettierrc
tsconfig.json
tsconfig.build.json
dist
.nyc_output
coverage
.coverage
.DS_Store
README.md
test
*.md
Dockerfile*
docker-compose*
data/
