BOT_TOKEN=
GROUP_CHAT_ID=
MONGODB_URI=mongodb://localhost:27018/sopranoBot
ADMIN_USERNAME=admin
ADMIN_PASSWORD=changeme
JWT_SECRET=changeme-jwt-secret
PORT=3000
FRONTEND_URL=https://namakian.ir
MAIN_BACKEND_URL=https://namakian.ir
